snap-content {
  background-color: #fAf;
  border-left: 1px solid #ccc;
}

body {
	background-color: #fff;
}

.header {
	position:absolute;
	top:0; left:0; right:0;
	height:50px; line-height: 50px;
	color:#000;
	text-transform: uppercase;
	text-align: center;
	background-color: #F90;
}

button {
	position: absolute;
	left :0;
    background: transparent;
    border: none !important;
    font-size:0;
}

.active {
	border-top: 3px solid #F90;
}

.list {
margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  list-style: none;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.list li {
  display: block;
  list-style: none;
  position: relative;
  padding: 20px 20px 20px 10px;
  border-bottom: 1px solid #ccc;
}
 .list  li  a {
  display: block;
  position: relative;
  display: block;
  color: inherit;
  margin: -20px -20px -20px -10px;
  text-decoration: none;
  padding: 20px 20px 20px 10px;
}

nav, li {
	background-color: #aaa;
}
























.icon-menu {
	background-image: url(img/icon-menu.png);
	width: 60px;
}

.panel {
	position: absolute;
	top: 0; left: 0, right: 0; bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.panel-padding {
	padding: 0 25px;
}

